.ui.label.type-normal {
  background-color: #bdbdaf;
  border-color: #bdbdaf;
}

.ui.label.type-poison {
  background-color: #a1639e;
  border-color: #a1639e;
}

.ui.label.type-psychic {
  background-color: #e26cac;
  border-color: #e26cac;
}

.ui.label.type-grass {
  background-color: #9dd666;
  border-color: #9dd666;
}

.ui.label.type-ground {
  background-color: #e5c868;
  border-color: #e5c868;
}

.ui.label.type-ice {
  background-color: #a9effd;
  border-color: #a9effd;
}

.ui.label.type-fire {
  background-color: #e9614d;
  border-color: #e9614d;
}

.ui.label.type-rock {
  background-color: #ccbd7c;
  border-color: #ccbd7c;
}

.ui.label.type-dragon {
  background-color: #8378f7;
  border-color: #8378f7;
}

.ui.label.type-water {
  background-color: #69aef8;
  border-color: #69aef8;
}

.ui.label.type-bug {
  background-color: #c6d04a;
  border-color: #c6d04a;
}

.ui.label.type-dark {
  background-color: #896a59;
  border-color: #896a59;
}

.ui.label.type-fighting {
  background-color: #9e5a48;
  border-color: #9e5a48;
}

.ui.label.type-ghost {
  background-color: #7777d1;
  border-color: #7777d1;
}

.ui.label.type-steel {
  background-color: #c3c2d9;
  border-color: #c3c2d9;
}

.ui.label.type-flying {
  background-color: #80a5f8;
  border-color: #80a5f8;
}

.ui.label.type-electric {
  background-color: #fbe55f;
  border-color: #fbe55f;
}

.ui.label.type-fairy {
  background-color: #eeb2fa;
  border-color: #eeb2fa;
}
